*{
    margin: 0;
    padding: 0;    
}

.calulator-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin: 5% 0;
    width: max-content;
    border: 5px solid rgb(38, 38, 38);
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(38, 38, 38);
    gap: 1px;
    justify-content: space-evenly;
    align-content: space-evenly;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.container *{    
    background-color: rgb(38, 38, 38);
}

.display-area{
    display: flex;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 25vmin;
    margin-bottom: 3px;    
    color: white;
    font-size: 5vmin;
    font-family: Arial, Helvetica, sans-serif; 
    bottom: 0;
    justify-content: end; 
    align-items:end;
}

.btn{
    cursor: pointer;
    width: 15vmax;
    height: 12vmin; 
    border-radius: 5px;   
    color: white;
    font-size: 5vmin;
    font-family: Arial, Helvetica, sans-serif;    
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(38, 38, 38);
}

.btn:hover{
    transition: background-color ease-in-out;
    background-color: rgb(63, 63, 63);
}

.btn-numbers{
    background-color: rgb(63, 63, 63);
}

.btn-numbers:hover{  
    background-color: rgb(50, 50, 50);
}

#equal{
    background-color: rgb(44, 156, 242);
}

#equal:hover{
    background-color: rgba(44, 156, 242, 0.792)
}

@media (max-width:500px) {
    .container{
        margin: 2vh 2vh;
        padding: 2vh;
        height: 95vh;
        width: 100vh;  
        border: 2px solid rgb(38, 38, 38);
    }

    .display-area{
        height: 30vmax;

    }
    .btn{
        width: 10vmax;
        height: 10vmax;
    }

    
}